{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_filters %}

{% block content_container %}

    <div class="justify-content-between mb-4" style="margin-top: 5rem;">
      <div class="text-center">
        <h1 class="h3 text-gray-800 text-center">Questionnaire</h1>
        <small class="text-center text-muted ">Projek Penyelidikan Saringan COVID-19 Melalui Bunyi Batuk, 
Unit Penyelidikan Digital & inovasi (DHRi), Institut Penyelidikan Klinikal (ICR),
Institut Kesihatan Negara (NIH)’</small>
      </div><br>
      
    </div>

    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-info">Questionnaire Form</h6>
      </div>
      <div class="card-body">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% crispy form %}
        <button type="submit" class="btn btn-info">Submit</button>
      </form>
      </div>
    </div>

    <script>
      function button() {
        alert("Thank you, your answers have been Saved. ");}
    </script>

{% endblock  %}

{% block javascript %}

<script src= "{% static 'questionnaire/js/script.js' %}">
</script>

{% endblock %}