{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_filters %}
{% load i18n %}
{% block content_container %}
<html lang="ms">
<div class="justify-content-between mb-4" style="margin-top: 5rem;">
  <div class="text-center">
    <h1 class="h3 text-dark text-center font-weight-bold position-relative">{% trans "Questionnaire" %}</h1>
    <small class="text-center text-muted position-relative">{% blocktrans %} COVID-19 Cough Sound Screening Research
      Project,
      Digital Research & Innovation Unit (DHRi), Institute of Clinical Research (ICR),
      National Institutes of Health (NIH) {% endblocktrans %} </small>
  </div><br>

</div>
<div class="container col-11">
  <form class="form-inline position-relative" action="{% url 'set_language' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ redirect_to }}">
    <select class="form-control" name="language" id="language" onchange="this.form.submit()">
      {% get_current_language as LANGUAGE_CODE %}
      {% get_available_languages as LANGUAGES %}
      {% get_language_info_list for LANGUAGES as languages %}
      {% for language in languages %}
      <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected{% endif %}>
        {{ language.name_local }} ({{ language.code }})
      </option>
      {% endfor %}
    </select>
  </form>
  <div class="card shadow mb-4">
    <div class="card-header questionnaire py-3">
      <h5 class="m-0 font-weight-bold text-white">{% trans "Questionnaire Form" %}</h5>
    </div>
    <div class="card-body questionnaire">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% crispy form %}
        <button type="submit" class="btn text-white login-button mt-4">{% trans "Submit" %}</button>
      </form>
    </div>
  </div>
</div>

<script>
  function button() {
    alert("Thank you, your answers have been Saved. ");
  }
</script>

{% endblock  %}

{% block javascript %}

<script src="{% static 'questionnaire/js/script.js' %}">
</script>

{% endblock %}