{% extends 'base.html' %}
{% load static %}
{% block content_container %}
<div class="jumbotron text-center">
  <h1 class="display-3">Thank You!</h1>
  <p class="lead"><strong>Thanks for participant Cough Sound. We hope to you like our project</p>
  <h3 style="color:#ff8c00">User ID:{{id}}</h3> 
  <hr>
  <p>
    Love and Care from MOH
  </p>
  <p class="lead">
    <a class="btn btn-info btn-sm" href="{% url 'index' %}" role="button">Continue to homepage</a>
  </p>
</div>
{% endblock content_container %}