{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content_container %}
<link rel="stylesheet" href="{% static 'questionnaire/css/thanks_user.css' %}">

<div class="card shadow mb-4 text-center mt-5 mx-4">
  <form class="form-inline ml-3 mt-3 mr-3" action="{% url 'set_language' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ redirect_to }}">
    <select class="form-control" name="language" id="language" onchange="this.form.submit()">
      {% get_current_language as LANGUAGE_CODE %}
      {% get_available_languages as LANGUAGES %}
      {% get_language_info_list for LANGUAGES as languages %}
      {% for language in languages %}
      <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected{% endif %}>
        {{ language.name_local }} ({{ language.code }})
      </option>
      {% endfor %}
    </select>
  </form>
  <h1 id="thank-you-title" class="display-3 mt-4 mb-4">{% trans "Thank You!" %}</h1>
  <p id="thank-you-desc" class="lead mb-4">
    <strong>{% trans "Thank you for your contribution to this research. Together we can eliminate COVID-19. " %}</p>
  <h3 id="user-id-text" style="color:#ff8c00">{% trans "User ID" %}:{{id}}</h3>
  <hr>
  <p>
    {% trans "Love and care from MOH" %}
  </p>
  <p class="lead">
    <a
      class="btn btn-md text-white p-2"
      style="background-color: #2B1392"
      href="{% url 'index' %}"
      role="button"
    >{% trans "Continue to homepage" %}</a>
  </p>
</div>
{% endblock %}