{% load static %}
{% load i18n %}<!DOCTYPE html>



<html lang="en">
    <head>
        <div>
            <div class="alert warning info">
            <span class="closebtn">&times;</span>  
            <strong>Warning!</strong> Please enable Microphone on this site
          </div>
        </div>
        <meta charset="utf-8">
        <title>Cough Recording</title>
        <!-- Responsive Design -->
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="HandheldFriendly" content="true">
        <meta name="description" content="">

        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link href="{% static 'fontawesome_free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    
        <link rel="stylesheet" type="text/css" href="{% static 'css/consent.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'recording/css/style.css' %}" />

        <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/general.css' %}" /> -->

        <script src="https://code.jquery.com/jquery-3.5.1.min.js"
		integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
		integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js"></script>
        
        <!-- Alertify -->

        <!-- JavaScript -->
        <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

        <!-- CSS -->
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
        <!-- Default theme -->
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
        <!-- Semantic UI theme -->
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css"/>
        <!-- Bootstrap theme -->
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css"/>

        <link rel="stylesheet" type="text/css" href="{% static 'css/general.css' %}" />

        <link rel="stylesheet" href="{% static 'recording/css/style.css' %}">


    </head>
    
    <body>
        
        <div class="record-menu">
            <h1 style="color:#ff8c00">Record Your Cough Three (3) Times</h1>
            <h3 style="color:#ff8c00">User ID:{{id}}</h3>
            <h5>(Force it if it doesn't come naturally)</h5>
            <h5>Click the button below to start recording and click again to stop</h5>
            
            <div class="wrapper">
                <button class="btn btn-info btn-circle " style="background-color: darkorchid;" data-mdb-ripple-color="dark" id="recordButton">
                    <i class="fas fa-microphone" onclick="pass(reco)"></i> <div>Record</div> </button>
                <button class="btn btn-danger btn-circle " data-mdb-ripple-color="dark" id="stopButton"><i class="fas fa-stop"></i><div>Stop</div>  </button>


                <div class="recording-animation-wrapper">
                    <div id="recording-animation" class="recording-stop">
                        <div class="text-uppercase text-danger recording-text">RECORDING  </div>
                        <div class="blob"></div> 
                        <span id="min">00</span>:<span id="sec">00</span>
                    </div>
                </div>
              
                <br><br><a href="{% url 'recording:breath_page' %}" onclick="submitAllAudio(event)" class="btn-lg btn-warning">Next</a>                 
     
                 <div id="audio-wrapper" class="audio-wrapper">
             
                 </div>


            </div>
            
   
        </div>
        

    <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
    <script src="{% static 'js/consent.js' %}"></script>
    <script src="{% static 'js/record.js' %}"></script>
    <script src="{% static 'recording/js/scripts.js' %}"></script>
    <script src="{% static 'js/error.js' %}"></script>
</body>

</html>
