{% load static %}
{% load i18n %}
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true" id="coughInstruction">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <div>
          <h5 class="modal-title" id="InstructionLabel"> Instructions </h5>
        </div>

        <div style="padding-left: 45%;">
          <form class="form-inline ml-2" action="{% url 'set_language' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ redirect_to }}" style="flex-direction: right;">
            <select class="form-control" name="language" id="language" onchange="this.form.submit()"
              style="flex-direction: right;">
              {% get_current_language as LANGUAGE_CODE %}
              {% get_available_languages as LANGUAGES %}
              {% get_language_info_list for LANGUAGES as languages %}
              {% for language in languages %}
              <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                {{ language.name_local }} ({{ language.code }})
              </option>
              {% endfor %}
            </select>
          </form>
        </div>


        <div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white;">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

      </div>

      <div class="modal-body">
        <img src="{% static 'img/cough-instruction.png' %}" alt="descriptive text">
      </div>
    </div>
  </div>
</div>