{% load static %}
{% load i18n %}


<head>


  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link href="{% static 'fontawesome_free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/instructions.css' %}" />
  <link href='https://fonts.googleapis.com/css?family=Quicksand|Manrope' rel='stylesheet'>
</head>


<button type="button" class="btn btn-primary help" data-toggle="modal" data-target="#maskOffAlert" id="instruction">
  <i class="fa fa-question" aria-hidden="true"></i>
</button>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true" id="maskOffAlert">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-body text-center" id="maskOffAlertCont">

        <img src="{% static 'img/Mask off 1.png' %}" alt="mask off" style="max-width: 20%;">
        <br>
        <span style="color: white; font-family: 'Manrope'; font-size: 36px;"> Ensure that you are in a safe environment and
        </span>
        <br>
        <span style="color: #FF93DD; font-family: 'Manrope'; font-size: 36px;"> Take Off Mask </span>
        <br>
        <button id="okay" class="okay-btn"> Okay </button>

      </div>
    </div>
  </div>
</div>