.card-section {
  border-radius: 30px;
  background-color: white;
}

.title-part {
  color: #1e134d;
  background-color: #f7f5fd;
  border-radius: 20px;
}

.photo-info div {
  width: 120px;
  height: auto;
}

.type-mask {
  background-color: #1e134d;
  width: 100%;
  margin-bottom: 0% !important;
}

.recording-label {
  color: #1e134d;
  margin-bottom: 0% !important;
}

.recording-container {
  border-width: 3px;
  width: 200px;
  border-color: #6f5acd;
  height: 40px;
  border-style: solid;
  border-radius: 15px;
  float: left;
}

.record-container {
  width: auto;
  height: 50px;
  float: left;
}

.record-button {
}

#record-stop {
  border-color: #fa3636;
  border-width: 3px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: #fa3636;
  display: inline;
  float: left;
  margin-left: 8px;
  margin-top: 3.5px;
}

.notice {
  background-color: #45cc46;
  padding-left: 5%;
  color: white;
  font-size: 36px;
  font-family: "Manrope";
  font-weight: bold;
  padding-top: 1%;
  padding-bottom: 1%;
}

.info-icon {
  background-color: black;
  color: #45cc46;
  border-radius: 50%;
}

.close-icon {
  padding-right: 5%;
  padding-top: 1%;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media only screen and (max-width: 600px) {
  #card-section {
    max-width: 430px;
  }
}

.card-section {
  max-width: 600px;
  width: 100%;
  font-size: large;
}

/* Curve Layout */
.custom-shape-divider-top-1641458251 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1641458251 svg {
  position: relative;
  display: block;
  width: calc(164% + 1.3px);
  height: 22px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1641458251 .shape-fill {
  fill: #6f5acd;
}
