{% extends 'base.html' %}
{% load static %}
{% block content_container %}

<title>Recording Management</title>
<h1 class="h3 mb-0 text-gray-800">Recording Management</h1>
<p class="mb-4">Nothing to say</p>

<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-info">{{title}} Recording</h6>
  </div>
  <div class="card-body">
    
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th> Recording ID</th>
            <th>Sound type</th>
            <th>Subject ID</th>

            <th> Audio 1</th>
            <th> Audio 2</th>
            <th> Audio 3</th>


            <!-- <th>Action</th> -->
          </tr>
        </thead>

        <tbody>
            {% for record in audio_samples %}
                <tr>
                    <td>{{ record.id }}</td>
                    <td>{{ record.sound_type }}</td>
                    <td>{{ record.subjects }}</td>
                    <td>{{ record.audio1.url }}</td>
                    <td>{{ record.audio2.url }}</td>
                    <td>{{ record.audio3.url }}</td>
                   
                </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
     // Init product table 
     const csrftoken = Cookies.get('csrftoken');
     $('#dataTable').DataTable(
     {
         "processing" : true,
         "serverSide" : true,
         "select" : true,
         "ajax" : {
             url : '/api/products/pagination/',
             type : 'POST',
             beforeSend: function (request) {
                 request.setRequestHeader("X-CSRFToken", csrftoken);
             }
         },
      
         "columns" : [
             {"data" : "id", "width": "50%"},
             {"data" : "sound_type"},
             {"data" : "subject_id",
             {"data" : "audio1", "width" : "50%"},
             {"data" : "audio2", "width" : "50%"},
             {"data" : "audio3", "width" : "50%"},            
         ]
     }
          );}
   ); 
</script>

{% endblock content_container %}