{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content_container %}
<link href="{% static 'css/general.css' %}" rel="stylesheet" {% now "U" %}>
<div class="jumbotron text-center">
  <form class="form-inline ml-2" action="{% url 'set_language' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ redirect_to }}" >
    <select class="form-control" name="language" id="language" onchange="this.form.submit()">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %} 
        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
            {{ language.name_local }} ({{ language.code }})
        </option>
        {% endfor %}
    </select>
</form>
  <h1 class="display-3">{% trans "Thank You!" %}</h1>
  <p class="lead"><strong>{% trans "Thank you for your contribution to this researcher. Working together we eliminate COVID-19" %}</p>
  <h3 style="color:#ff8c00">{% trans "User ID" %}:{{id}}</h3> 
  <hr>
  <p>
    {% trans "Love and Care from MOH" %}
  </p>
  <p class="lead">
    <a class="btn btn-info btn-sm " href="{% url 'home' %}" role="button">{% trans "Continue to homepage" %}</a>
  </p>
</div>
{% endblock content_container %}