{% extends 'base.html' %} {% load static %} {% block content_container %}
{% load i18n %}
{% load crispy_forms_tags %}

<title>Subject Login</title>
<div class="container my-3">
  <div class="row justify-content-end">
    <form class="position-relative " action="{% url 'set_language' %}" method="POST">
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ redirect_to }}">
      <select class="form-control" name="language" id="language" onchange="this.form.submit()">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
        <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected{% endif %}>
          {{ language.name_local }} ({{ language.code }})
        </option>
        {% endfor %}
      </select>
    </form>
  </div>
</div>
<div class="d-flex flex-column justify-content-center align-items-center">

  <div id="login-form">
    <div class="login-bg card" style="background-color: transparent; border-color: transparent;">

      <div class="card-body">
        <img class="col-5 mx-auto d-block mt-4"
          src={% static 'img/general/cofe icon.png' %} alt=" nih logo">
        <h5 class="text-center font-weight-bold mt-4 h3" style="color:var(--dark-purple)">
          {% trans "Welcome to Cof'e Project" %}</h5>
        <div class="container">
          <div class="row justify-content-center mt-5">
            <div class="col-9">
              <form class="font-weight-bolder h5 text-center" style="color:var(--medium-purple)" method="POST"
                action="{% url 'cough_test' %}">
                {% csrf_token %} 
                {% trans "User ID" %}:<br/>
                <h5 class="h4 font-weight-bolder">{{id}}</h5>

                <div class="text-center mt-4">
                  <button 
                    class="btn text-white login-button"
                    type="button"
                    id="microphone-button"
                  ><p style="font-size: 15px">{% trans "Test my Microphone" %}</p></button>
                </div>

                <div class="text-center mt-4">
                  <button class="btn text-white login-button" type="submit"><p style="font-size: 15px">{% trans "Cough Test" %}</p></button>
                </div>

                <div class="text-center mt-4">
                  <a href="{% url 'result:history_result' %}">
                  <button class="btn text-white login-button" type="button">
                    <p style="font-size: 15px">{% trans "Result History" %}</p>
                  </button>
                  </a>
                </div>

                {% if results %}
                <div class="text-center mt-4">
                  <a href="{% url 'result:result_list' %}">
                  <button class="btn text-white login-button" type="button">
                    <p style="font-size: 15px">{% trans "Result" %}</p>
                  </button>
                  </a>
                </div>
                {% endif %}

                <div class="text-center mt-4">
                  <a href="{% url 'logout' %}">
                  <button 
                    class="btn text-white logout-button"
                    type="button"
                  >
                    <p style="font-size: 15px">{% trans "Logout" %}</p>
                  </button>
                  </a>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content register">
        <div class="modal-header register text-center">
          <h5 class="modal-title register w-100 ml-4" id="exampleModalLabel">{% trans "NEW USER" %}</h5>
          <button type="button" class="close" style="color:white" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <form method="POST" action="{% url 'register_participant' %}">
          <div class="container">
            <div class="col-12">
              <div class="modal-body register-title">
                {% csrf_token %} {{registration_form|crispy}}
              </div>
              <div class="container">
                <div class="col-md-12 text-center">
                  <button type="submit" class="btn text-white login-button ">{% trans "REGISTER" %}</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  function getMicrophonePermission() {
    navigator.permissions.query({name: 'microphone'})
      .then(function (result) {
        if (result.state == 'denied')
        {
          alert("Microphone is blocked, pelase enable in your settings")
        }
        else if (result.state === 'granted')
        {
          alert("Microphone is allowed and working fine")
        }
      });
    navigator.mediaDevices.getUserMedia({audio: true})
      .then(
        (stream) => {
          window.localStream = stream;
          window.localAudio.srcObject = stream;
        }
      )
      .catch((err) => {
          console.error(`Microphone permission is not enabled - ${err}`)
          return false;
      });
    return true;    
  }
  
  $('#microphone-button').on('click', function(event) {
    event.preventDefault(); // To prevent following the link (optional)
    getMicrophonePermission();
  });
</script>

{% endblock content_container %}