{% extends 'base.html' %} {% load static %} {% block content_container %} 
{% load i18n %}
{% load crispy_forms_tags %}

<title>Subject Login</title>

<div class="text-center">
<h1 class="h3 text-gray-800 text-center mt-5">NIH Cough Sound</h1>
<small class="text-center text-muted ">{% blocktrans %} COVID-19 Cough Sound Screening Research Project,
  Digital Research & Innovation Unit (DHRi), Institute of Clinical Research (ICR),
  National Institutes of Health (NIH) {% endblocktrans %} </small>
</div><br>

<form class="form-inline ml-2" action="{% url 'set_language' %}" method="POST">
  {% csrf_token %}
  <input type="hidden" name="next" value="{{ redirect_to }}" >
  <select class="form-control" name="language" id="language" onchange="this.form.submit()">
      {% get_current_language as LANGUAGE_CODE %}
      {% get_available_languages as LANGUAGES %}
      {% get_language_info_list for LANGUAGES as languages %}
      {% for language in languages %} 
      <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
          {{ language.name_local }} ({{ language.code }})
      </option>
      {% endfor %}
  </select>
</form>

<div class="row justify-content-center">
  <div class="col-lg-4">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-info">{% trans "Login" %}</h6>
      </div>

      <div class="card-body">
        <h5 class="card-title">{% trans "Welcome to NIH Cough Sound"  %}</h5>
        <form method="POST" action="{% url 'login_participant' %}">
          {% csrf_token %} {{login_form|crispy}}
          <div>
            <a
              href="#"
              class="link-info"
              data-toggle="modal"
              data-target="#exampleModal"
              >{% trans "First Time User? Click Here" %}</a
            >
          </div>
          <button class="btn btn-info" type="submit">{% trans "Login" %}</button>
        </form>
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{% trans "First Time User" %}</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="POST" action="{% url 'register_participant' %}">
          <div class="modal-body">
            {% csrf_token %} {{registration_form|crispy}}
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              {% trans "Close" %}
            </button>
            <button type="submit" class="btn btn-info">{% trans "Register Now" %}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content_container %}
