{% extends 'base.html' %} {% load static %} {% block content_container %}
{% load i18n %}
{% load crispy_forms_tags %}

<title>Subject Login</title>
<div class="text-center mt-2 position-relative ">
  {% comment %} <h1 class="h3 text-gray-800 text-center mt-5">NIH Cough Sound</h1> {% endcomment %}
  <small class="text-center text-muted ">COVID-19 Cough Sound Screening Research Project,
    Digital Health Research & Innovation Unit (DHRi), Institute of Clinical Research (ICR),
    National Institutes of Health (NIH)</small>
</div><br>
<div class="container mb-3">
  <div class="row justify-content-end">
    <form class="position-relative " action="{% url 'set_language' %}" method="POST">
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ redirect_to }}">
      <select class="form-control" name="language" id="language" onchange="this.form.submit()">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
        <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected{% endif %}>
          {{ language.name_local }} ({{ language.code }})
        </option>
        {% endfor %}
      </select>
    </form>
  </div>
</div>
<div class="d-flex flex-column justify-content-center align-items-center">

  <div id="login-form">
    <div class="login-bg card" style="background-color: transparent; border-color: transparent;">

      <div class="card-body">
        <img class="col-5 mx-auto d-block mt-4""
          src={% static 'img/general/nih-logo.png' %} alt=" nih logo">
        <h5 class="text-center font-weight-bold mt-4 h3" style="color:var(--dark-purple)">
          {% trans "Welcome to NIH Cough Sound Project" %}</h5>
        <div class="container">
          <div class="row justify-content-center mt-5">
            <div class="col-9">
              <form class="font-weight-bolder h5 text-center" style="color:var(--medium-purple)" method="POST"
                action="{% url 'cough_test' %}">
                {% csrf_token %} 
                {% trans "User ID" %}:<br/>
                <h5 class="h3 font-weight-bolder">{{id}}</h5>

                <div class="text-center mt-4">
                  <button 
                    class="btn text-white login-button"
                    type="button"
                    id="microphone-button"
                  >{% trans "Test my Microphone" %}</button>
                </div>

                <div class="text-center mt-4">
                  <button class="btn text-white login-button" type="submit">{% trans "Cough Test" %}</button>
                </div>

                <div class="text-center mt-4">
                  <a href="{% url 'result:result_list' %}">
                  <button class="btn text-white login-button" type="button">{% trans "Result" %}</button>
                  </a>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content register">
        <div class="modal-header register text-center">
          <h5 class="modal-title register w-100 ml-4" id="exampleModalLabel">{% trans "NEW USER" %}</h5>
          <button type="button" class="close" style="color:white" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <form method="POST" action="{% url 'register_participant' %}">
          <div class="container">
            <div class="col-12">
              <div class="modal-body register-title">
                {% csrf_token %} {{registration_form|crispy}}
              </div>
              <div class="container">
                <div class="col-md-12 text-center">
                  <button type="submit" class="btn text-white login-button ">{% trans "REGISTER" %}</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  function getMicrophonePermission() {
      navigator.mediaDevices.getUserMedia({video: false, audio: true}).then(
        (stream) => {
          window.localStream = stream;
          window.localAudio.srcObject = stream;
          window.localAudio.autoplay = true;
        }
      ).catch((err) => {
          console.error(`Microphone permission is not enabled - ${err}`)
          return false;
      });
      return true;
  }
  $('#microphone-button').on('click', function(event) {
    event.preventDefault(); // To prevent following the link (optional)
    getMicrophonePermission();
  });
</script>

{% endblock content_container %}