{% load static %}
<footer class="footer">

  <div id="copyright" class="copyright text-center my-auto">
    <span>Copyright &copy; 2020 &mdash; Ministry of Health, Malaysia</span>
  </div>

  <div class="d-flex  flex-md-column flex-sm-column flex-lg-row mt-2 flex-wrap justify-content-center align-items-center">
    <div class="d-flex flex-sm-row">
      <div class="m-4">
        <img src="{% static 'img/kkm-logo.png' %}" class="footer-logo">
      </div>
      <div class="m-4 ">
        <img src="{% static 'img/nih-logo.png' %}" class="footer-logo">
      </div>
    </div>
    
    <div class="d-flex flex-sm-row">
      <div class="m-4">
        <img src="{% static 'img/icr-logo.png' %}" class="footer-logo">
      </div>
      <div class="m-4">
        <img src="{% static 'img/logo_DHRi.jpg' %}" class="footer-logo">
      </div>
    </div>
    <div class="d-flex flex-sm-row">
      <div class="m-4">
        <img src="{% static 'img/swinburne-logo.png' %}" class="footer-logo">
      </div>
      <div class="m-4 ">
        <img src="{% static 'img/infront-logo.png' %}" class="footer-logo" style="padding-top: 1.5rem;">
      </div>

    </div>

</footer>